<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}HARC, górski Harcownik{% endblock %}</title>

    {% include 'base/scripts_n_imports.html' %}


</head>
<body id="body">

<div class="decent_background" id="header">
    <h1 id="header_text">{% block header %}HARC{% endblock %}</h1>
</div>

<div id="logging">
    {% if user.is_authenticated %}
       <p>
        <h2 id="user_welcome">Witaj, {{ user.username }}!</h2>
        <a id="logout_button" href="{% url 'page.views.logout_method' %}">Wyloguj się</a>
        </p>
    {% else %}
      <p>
        <form method="post" action="{% url 'page.views.login_method' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="id_username">Username:</label> <input id="id_username"
                                                                          type="text" name="username" maxlength="30"
                                                                          size="17"/>
                    </td>
                    <td>
                        <input class="login" type="submit" value="Zaloguj" style="cursor: pointer; font-size: 105%;"/>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label for="id_password">Password:</label> <input type="password"
                                                                          name="password" id="id_password" size="17"/>
                    </td>

                    <td>
                        <a href="/register">
                            <div class="login">
                                Zarejestruj
                            </div>
                        </a>
                    </td>

            </table>
        </form>
</p>
        {% if login_problem %}
            <link rel="stylesheet" href="{{ STATIC_URL }}toastmessage/static/css/jquery.toastmessage.css">

            <script src="{{ STATIC_URL }}toastmessage/static//js/jquery.toastmessage.js"></script>
            <script type="text/javascript">
                $().toastmessage('showErrorToast', "Niepoprawne dane logowania!");
            </script>
        {% endif %}
    {% endif %}
</div>

<div style="clear: both;"></div>

<!-- a trick needed to separate header from content ;-) -->

<ul class="decent_background" id="menu">


    <li><a href="{% url 'locations.views.locations' %}"
           class="big_menu_button">MIEJSCA</a>
        <ul>
            <li><a href="/locations" class="small_menu_button">WYSZUKIWANIE PO NAZWIE</a></li>
            <li><a href="/location_advanced" class="small_menu_button">ZAAWANSOWANE FILTROWANIE</a></li>
            <li><a href="/location_adding" class="small_menu_button">ODKRYLISCIE NOWE MIEJSCE?</a></li>
        </ul>
    </li>

    <li><a href="/konto" class="big_menu_button">MOJE KONTO</a>
        <ul>

            <li><a href="#" class="small_menu_button">PROFIL</a></li>
            <li><a href="/my_comments" class="small_menu_button">KOMENTARZE</a></li>
            <li><a href="#" class="small_menu_button">WPROWADZANIE DANYCH</a></li>

        </ul>
    </li>
</ul>


<div id="content">

    {% block content %} {% endblock %}

</div>

</body>
</html>
