<!DOCTYPE html>
{% include 'base/scripts_n_imports.html' %}
<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/lolinka.css' %}"/>

<body>


<div id="gora" class="gora_dol">

</div>


<div id="pasek">

</div>

<div id="kwadrat"></div>


<div id="dol" class="gora_dol"></div>


</body>
</html>
