<!-- -------------------------------------------------------------------- -->

{% load staticfiles %}



<script src="{% static 'scripts/jquery.js' %}" type="text/javascript"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="{% static 'scripts/jquery-ui.js' %}" type="text/javascript"></script>


<script src="{% static 'autumn/3d-falling-leaves.js' %}"
	type="text/javascript"></script>
<script src="{% static 'autumn/rotate3Di.min.js' %}"
	type="text/javascript"></script>
<link rel="stylesheet" type="text/css"
	href="{% static 'autumn/3d-falling-leaves.css' %}" />


<script
	src="http://builtbywill.com/code/booklet/src/jquery.easing.1.3.js"
	type="text/javascript"></script>
<script src="{% static 'booklet/jquery.booklet.latest.js' %}"
	type="text/javascript"></script>
<link href="{% static 'booklet/jquery.booklet.latest.css' %}"
	type="text/css" rel="stylesheet" media="screen, projection, tv"></link>

<link rel="stylesheet" type="text/css" href="{% static 'styles/shared_styles.css' %}" />
{% if is_day %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/day_styles.css' %}" />
{% else %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/night_styles.css' %}" />
{% endif %}

<script src="{% static 'scripts/scripts.js' %}" type="text/javascript"></script>
 
{% if is_winter %}
<!-- required snowstorm JS, default behaviour -->
<script src="{% static 'snowstorm/snowstorm.js' %}"></script>

<!-- now, we'll customize the snowStorm object -->
<script>
	//snowStorm.snowColor = '#99ccff';   // blue-ish snow!?
	snowStorm.flakesMaxActive = 96; // show more snow on screen at once
	snowStorm.useTwinkleEffect = true; // let the snow flicker in and out of view
	snowStorm.animationInterval = 55;
</script>
{% endif %} 

{% if is_autumn %}

<script src="{% static 'autumn/3d-falling-leaves.js' %}"
	type="text/javascript"></script>
<script src="{% static 'autumn/rotate3Di.min.js' %}"
	type="text/javascript"></script>
<link rel="stylesheet" type="text/css"
	href="{% static 'autumn/3d-falling-leaves.css' %}" />
<script>

			jQuery('body').octoberLeaves({
				leafStyles : 3, // Number of leaf styles in the sprite (leaves.png
				speedC : 2, // Speed of leaves
				rotation : 1,// Define rotation of leaves
				rotationTrue : 1, // Whether leaves rotate (1) or not (0
				numberOfLeaves : 15, // Number of leaves
				size : 40, // General size of leaves, final size is calculated randomly (with this number as general parameter
				cycleSpeed : 30
			})
		</script>
{% endif %}
<!-- -------------------------------------------------------------------- -->
