@CHARSET "UTF-8";

#body {
	background-image: url("../images/day_background.jpg");
}

.decent_background {
	border: 2px solid #006633;
	background-color: #FF8000;
	opacity: 0.8;
}

#header_text {
	color: #800000;
}

#logging {
	border: 2px solid #000080;
	background-color: #FFFF33;
}

.login {
	border: 2px solid #000080;
	background-color: #326647;
}

.big_menu_button,.small_menu_button {
	border: 2px solid #006633;
	font-color: #326647 !important;
}

h2 {
	color: #326647;
}

#content {
	border: 2px solid #326647;
	border-left: 25px solid #326647;
	border-right: 25px solid #326647;
	background-color: #FFBF00
}

.button{
	border: 2px solid #000080;
	background-color: #326647;
}