@CHARSET "UTF-8";
html,body{
    width:100%;
    height: 100%;
}
* {
	font-family: Verdana; /*rozmiar liter*/
	line-height:200%
}

#body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.decent_background {
    padding: 10px;
}

#navcontainer ul li
{
display: inline;
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#navcontainer ul li:hover
{
color: #fff;
background-color: #369;
}
#detail_ul ul{
border: 2px solid #006633;
background-color: #FFFF33;
}
h5{
color:orange;
height: 150%;
}


/********************************/
/*********** HEADER *************/
/********************************/
#header {
    height: 15%;
    width: 75%;
    padding: 10px;
    float: left;
    margin-bottom: 2px;
}

#header_text {
    font-size: 300%; /*rozmiar liter*/
    margin: 10px;
    margin-left: 17%;
}

#logging {
    float: right;
    width: 21%;
    height: 15%;
    padding: 10px;
    opacity: 0.8;
    text-align: center;
    display: table;

}

#user_welcome{
    margin: 0%;
}

#logout_button {
    padding: 0px;
}

.login{
    width: 120%;
}


/********************************/
/************ MENU **************/
/********************************/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    position: relative;
}

li ul {
    left: 0px;
    top: 0;
    display: none;
}
li:hover ul, li.over ul {
    display: block;
}

#menu {
    width: 10%;
    float: left;
    opacity: 0.6;
}

.big_menu_button, .small_menu_button {
    display: block;
    text-align: center;
    transition-duration: 0.4s;
    padding: 2px;
}

.big_menu_button {
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 30px;
}

.small_menu_button {
    font-size: large;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 1.0;
}

.small_menu_button:hover, .big_menu_button:hover {
    background-color: buttonhighlight;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: inherit;
}

/********************************/
/*********** CONTENT ************/
/********************************/
#content {
    width: 75%;
    height: 100%;
    margin-left: 17%;
    padding: 10px;
    opacity: 0.8;
}

.one_news {
    height: 100%;
    opacity: 0.95;
    font-size: 150%; /*rozmiar liter*/
}

.error {
    color: red;
}

/********************************/
/*********** SEARCH *************/
/********************************/
.searching {
    background: url("../images/search.png") no-repeat 10px 6px #EDFA8E;
    height: 20px;
    padding-left: 30px;
    border-radius: 15px;
    font-weight: bolder;
    color: #006633;
    outline: none;
}

.searching:focus {
    box-shadow: 0 0 3px 2px blue;
}

/***********************************/
/*********** TEXT-AREAS ************/
/***********************************/

.text_area {
    background: #EDFA8E;
    height: 20px;
    padding-left: 10px;
    border-radius: 15px;
    font-weight: bolder;
    color: #006633;
    outline: none;
}

.text_area:focus {
    box-shadow: 0 0 3px 2px blue;
}

textarea.text_area {
    height: auto;
}

/********************************/
/*********** BUTTONS ************/
/********************************/

.button {
    display: block;
    position: relative;
    font-size: x-large;
    width: 50%;
}

<<<<<<< HEAD
/********************************/
/*********** LOGIN PAGE ************/
/********************************/

#logging_page {

    margin-left: 30%;
    width: 30%;
    height: 20%;
    padding: 10px;
    opacity: 0.8;
    text-align: center;
}
=======
/**************FORMS************/
label {
display: block;
width: 260px;
padding: 10px 20px;
color: #800080;
font-size: 24px;
text-shadow: 0 0 1px #19A56F;
}

#username, #password {
display: block;
width: 360px; 
margin: 0 auto;
padding: 10px 5px;
border: 1px solid #800080;
outline: 5px solid #ACE1AF;
font-size: 18px;
}
#lower {
background: #ACE1AF;
width: 560px;
padding: 5px 20px;
margin-top: 10px;
}
.check {
display: inline;
float: none;
font-size: 11px;
padding: 5px;

}

select{
font-size:20px;
width: 300px;
height: 80px;
margin: 20px;
padding: 10px 5px;
border: 1px solid #800080;
outline: 5px solid #ACE1AF;
>>>>>>> 632fb691327db94f6029d65025723e7b80f4eae9

}
input[type="submit"] {
width: 250px;
height:100px;
padding: 5px 13px;
border: 1px solid #800080;
color: #800080;
font-size:50px;
text-shadow: 0 0 1px #19A56F;
background: #e5f2f8;
position: relative;
left: 180px;
}
#username:focus, #password:focus {
outline: 5px solid #e5f2f8;
}
#panel {
width: 600px; 
margin: 0 auto; 
padding: 15px 0 0;
background: #9F9FDF;
border: 1px solid #800080;
font: 24px calibri;
color: #ACE1AF;
letter-spacing: -1px;
-webkit-box-shadow: 0 0 2px silver; 
-moz-box-shadow: 0 0 2px silver; 
box-shadow: 0 0 2px #800080;
}
form {
margin: 0;
}


