<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% extends "base/base.html" %}
<html>
{% block title %}Nowosc{% endblock %}
<body>

	{% block header %}Zanotowanie nowej lokalizacji{% endblock %}
	
	
	 
	{% block content %}

	<div id="tabela_location_adding">
		<div class='b-load'>
		
			<div class="one_news decent_background">
				Odkrywco! Podejmiesz wyzwanie wprowadzenia nowego miejsca?<h1 id="news"></h1>
				
							</div>
		<div class="one_news decent_background">
			
		</div>
		</div>
	</div>

	<script>
	
	$(document).ready(function(){
		  $('#tabela_location_adding').booklet();
		  
		})
	</script>
	
	

	{% endblock %}

</body>
</html>
