
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% extends "base/base.html" %}
<html>
{% block title %}Detale{% endblock %}
<body>

{% block header %}{{miejsce.name}}{% endblock %}

{% block content %}

<script type="text/javascript">
  function showStuff (id) 
  {

        document.getElementById("tabs-1").style.display = "none";
        document.getElementById("tabs-2").style.display = "none";
        document.getElementById("tabs-3").style.display = "none";
        document.getElementById("tabs-4").style.display = "none";
        document.getElementById(id).style.display = "block";

  }

</script>
<div>
<div id="navcontainer">
<ul class="side bar tabs" id="navlist">
    <li  id = "tabs1" onclick = "showStuff('tabs-1')">OPIS</li>
    <li  id = "tabs2" onclick = "showStuff('tabs-2')">KOMENTARZE</li>
    <li  id = "tabs3" onclick = "showStuff('tabs-3')">SZCZEGÓŁY</li>
    <li  id = "tabs4" onclick = "showStuff('tabs-4')">GALERIA</li>  
</ul>

</div>
<hr style="height: 10px" color="darkblue">




  <div id="tabs-1" style="display:none">{{miejsce.description}}
   <div id="tabs-2" style="display:none"> Według legendy Błędne Skały stworzył Liczyrzepa abs 2 content</div>
  
    <div id="tabs-3" style="display:block">
    
<table align="center" bgcolor="#FFFF99" width="50%" border="1"
cellpadding="20" cellspacing="5" bordercolor="darkblue">
<tr valign="middle" align="center" bgcolor="#C0D727">
<td>WYMAGANIA</td>
<td>ODPOWIEDZI</td>
</tr>
 {% for place in flags.flag_property %}
<tr>
<td>Możliwość tańca</td>
<td>tak</td>
</tr><tr>
<td>dobre buty</td>
<td>koniecznie</td></tr>
<tr><td>ee</td>
<td>ee</td>
</tr>

{% endfor %}


</div>
</table>

    
    </div>
    
    
<div id="tabs-4" style="display:none"><img src="location_images\bledneskaly.jpg"></div>

</div>
{% endblock %}

</body>
</html>