<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% extends "base/base.html" %}
<html>
{% block title %}Twoje konto{% endblock %}
<body>


{% block header %}Wyszukaj i dowiedz się więcej{% endblock %}



{% block content %}

    <div id="tabela2a">
        <div class='b-load'>

            <div class="one_news decent_background">
                <h1 id="news">Wyszukiwarka miejsc</h1>

                <h2>Tu wpisz miejsce, o którym chcesz się dowiedzieć więcej:</h2>

                <form action="{% url 'locations.views.locations' %}" method="POST">
                    {% csrf_token %}
                    <br/> <input class="searching" type="text" name="location_name" size="40"/>

                </form>
            </div>

            {% for location in locations %}
                <div class="one_news decent_background">
                    Ostatnio dodane<br/>+++++++++++++++++++++++++++++++++++<br/>
                    <a href="/miejsce/{{ location.id }}"><h2>{{ location.name }}</h2><----Dowiedz się więcej!</a>
                    <br/>
                    Opis: {{ location.description }}

                </div>
            {% empty %}
                <div class="one_news decent_background">
                    <h2>
                        Spróbuj frazy, nie ma?</br>
                        <a href="/konto/">Może czas najwyższy umieścić!</a>
                    </h2>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>

        $(document).ready(function () {
            $('#tabela2a').booklet();

        })
    </script>


    <!--
<h1 id="news">Ostatnio dodane miejsca:</h1>
	{% for location in locations %}
	<div class="one_news decent_background">

		<a href="/miejsce/{{location.id}}"><h2>{{location.name}}</h2></a>

		<pre>
			<span>Dodano: {{location.district}}</span>
		</pre>
	</div>
	{% empty %}
	<div class="one_news decent_background">
		<a href="/konto/">Nie znaleziono, na pewno taka pisownia?
			<h2>Spróbuj frazy, a jeżeli nie ma takiego miejsca w bazie, to
				może czas najwyższy dodać ;-) ?</h2>
				
		</a>
	</div>
	{% endfor %} -->
{% endblock %}

</body>
</html>
