<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% extends "base/base.html" %}
<html>
{% block title %}Zaawansowane{% endblock %}
<body>

{% block header %}Wyszukiwanie precyzyjne{% endblock %}



{% block content %}

<div id="tabela_location_advanced">
    <div class='b-load'>

        <div class="one_news decent_background">
           

           <fieldset><legend><b>LOKALIZACJA</b></legend><br/>
<div id="panel">
<br/>Dowolny wybór filtrów pomoże w odnalezieniu miejsca!<br/>


<form action="{% url 'locations.views.location_advanced' %}" method="POST">
					{% csrf_token %} 
<label for="username">Miasto:</label>
<input type="text" id="username" name="city">
<label for="username">Ulica:</label>
<input type="text" id="username" name="street">
<div id="lower">

<input type="submit" value="SZUKAJ" />


</div>

</div>
</fieldset>

            
        </div>


        <div class="one_news decent_background">
              <fieldset><legend><b>KRYTERIA</b></legend>
<div id="panel">
<br/><label for="username">Typ:
</label>
<select name="location_type">
{% for type in location_types %}
	
	<option>{{type.name}}</option>
	
	{%empty%}
	<option selected="selected">budynek</option>
	<option>kiosk</option>
	<option>kompleks</option>
	<option>park</option>
	{% endfor %}
</select>
<br/><label for="username" id="location_properties">Właściwości miejsca:</label>
<select name="location_properties" multiple="multiple" size="3">
	{% for property in location_properties %}
	
	<option>{{property.optional_answer}}</option>
	
	{%empty%}
	<option selected="selected">Dostęp do wifi</option>
	<option>Przystanek blisko</option>
	<option>Dostep do wc</option>
	<option>Zabawa dla dzieci</option>
{% endfor %}
</select>

<br/><label for="username">Przeznaczenie miejsca:</label>
<select name="location_destination" multiple="multiple" size="3">
{% for destination in location_destination %}
	
	<option>{{destination.name}}</option>
	
	{%empty%}
	<option selected="selected">Piesek</option>
	<option>Edukacja</option>
	<option>Ekologia</option>
	<option>Historia</option>
	{% endfor %}
</select>
<input type="submit" value="SZUKAJ" />
</form>
<br><br>
[przytrzymując klawisz ctrl można zaznaczyć kilka opcji]
</fieldset>
<br/>
<script>
		$(document).ready(function(){
			$("#button_sorting_results").click(function(){ //obiekt na ktĂły klikasz, by wywoĹaÄ reakcjÄ
			$("#to_hide_sorting_results").toggle(1500); //obiekt, ktĂłry chcesz ukrywaÄ / pokazywaÄ (odwraca obecny stan "display")
			})		//czas w milisekundach
		}) //P.S. zaleca siÄ korzystanie z id przy tym, bo moĹźna siÄ pomyliÄ. Ale class TEĹť dziaĹa
		
		</script>
		<div id="button_sorting_results" class="button">Sortowanie wyników</div>
		<div id="to_hide_sorting_results" style="display: none;">
<input type="radio" name="sort" value="alphabetical" />alfabetycznie<br/>
<input type="radio" name="sort" value="satisfability" />spelnialnosc wyrazen<br/>
<input type="radio" name="sort" value="marks" />najwyzej ocenione<br/>
        </div>

</div>
</div>
    <div id="lower">

<input type="submit" value="SZUKAJ" />

</div>
    </div>

</div>


<script>

    $(document).ready(function () {
        $('#tabela_location_advanced').booklet();

    })
</script>


{% endblock %}

</body>
</html>
