{% extends "base/base.html" %}
{% block title %} - logowanie{% endblock %}
{% block content %}

    <div id="logging_page">

        <form method="post" action="{% url 'page.views.login_method' %}">
            {% csrf_token %}
            <div style="display: inline-block;">
                <p>
                    <label for="id_username">Username:</label> <input id="id_username"
                                                                      type="text" name="username" maxlength="30"
                                                                      size="17"/>
                </p>

                <p>
                    <label for="id_password">Password:</label> <input type="password"
                                                                      name="password" id="id_password" size="17"/>
                </p>
            </div>
            <div class="log_button">
                <input class="login" type="submit" value="Zaloguj" style="cursor: pointer; font-size: 104%; width: 121%;"/>
            </div>
            <a href="/register">
                <div class="login log_button">
                    Zarejestruj
                </div>
            </a>
        </form>

        {% if login_problem %}
            <link rel="stylesheet" href="{{ STATIC_URL }}toastmessage/static/css/jquery.toastmessage.css">

            <script src="{{ STATIC_URL }}toastmessage/static//js/jquery.toastmessage.js"></script>
            <script type="text/javascript">
                $().toastmessage('showErrorToast', "Niepoprawne dane logowania!");
            </script>
        {% endif %}

    </div>


{% endblock %}