<!DOCTYPE html>
{% extends "base/base.html" %}
<html>
{% block title %}Moje komentarze{% endblock %}
<body>

{% block content %}




    <h1>Twoje komentarze</h1>
    {% if user.is_authenticated %}
        <form action="{% url 'users.views.my_comments' %}" method="POST">
            {% csrf_token %}
            <br/> <input class="searching" type="text" name="query" size="40"/>

        </form>
        <br/>
        <div id="komentarze">
            <div class='b-load'>

                {% for comment in my_comments %}
                    <div class="one_news decent_background">

                            <div style="text-align: center"><h3>{{ comment.location.name }}</h3></div>
                            <br/>

                            <div><h3 style="text-align: left; display: inline-block">Ocena: {{ comment.value }}</h3>

                                <h3 style="float: right; display: inline-block">{{ comment.date }}</h3></div>
                            <br/>
                            {{ comment.comment }}
                    </div>

                {% empty %}
                    <h2>Niestety nie napisałeś żadnego komentarza</h2>
                {% endfor %}
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#komentarze').booklet();
            })
        </script>

    {% else %}
        <h2>Coś tu ma być, ale nie wime co</h2>
    {% endif %}


{% endblock %}


</body>
</html>