<!DOCTYPE html>
{% extends "base/base.html" %}
<html>
{% block title %}Rejestracja{% endblock %}
<body>

{% block content %}


    <script>
        $(function () {
            $("#datepicker").datepicker();

            $("#datepicker").datepicker('setDate', {{ user.my_user.birthdate }});
        });
    </script>

    <h1>Zarejestruj się</h1>
    {% if 'wrong_password' in errors %}
        <h2 class="error">Hasła nie pasują do siebie</h2>
    {% endif %}
    {% if 'empty_field' in errors %}
        <h2 class="error">Wypełnij wszystkie pola</h2>
    {% endif %}

    <div class="decent_background">
        <form action="{% url 'users.views.my_profile' %}" method="post">
            {% csrf_token %}
            <p>Notka o mnie:</p>

            <p><textarea rows="4" cols="50" type="text"
                         name="note" id="note" size="17">{{ user.my_user.note }}</textarea>
            </p>

            <p>
                <input type="submit" value="Ustaw notkę o sobie">
            </p>
        </form>
    </div>

    <div class="decent_background">
        <form action="{% url 'users.views.my_profile' %}" method="post">
            {% csrf_token %}
            <p>Zmień datę urodzin:</p>

            <p><input type="text" name="birthdate" id="datepicker"></p>

            <p>
                <input type="submit" value="Zmień datę urodzin">
            </p>
        </form>
    </div>
    <br/>
    <div class="decent_background">
        <form action="{% url 'users.views.my_profile' %}" method="post">
            {% csrf_token %}
            <p>Stare hasło:</p>

            <p><input type="password"
                      name="password" id="password" size="17"/>
            </p>

            <p>Nowe hasło:</p>

            <p><input type="password"
                      name="new_password" id="new_password" size="17"/>
            </p>

            <p>Powtórz nowe hasło:</p>

            <p><input type="password"
                      name="confirm_password" id="confirm_password" size="17"/></p>

            <p>
                <input type="submit" value="Zmień hasło">
            </p>
</form>
    {% if message %}
                {% if success %}

                    <link rel="stylesheet" href="{{ STATIC_URL }}toastmessage/static/css/jquery.toastmessage.css">

                    <script src="{{ STATIC_URL }}toastmessage/static//js/jquery.toastmessage.js"></script>
                    <script type="text/javascript">
                        $().toastmessage('showSuccessToast', "{{ message }}");
                    </script>

                {% else %}

                    <link rel="stylesheet" href="{{ STATIC_URL }}toastmessage/static/css/jquery.toastmessage.css">

                    <script src="{{ STATIC_URL }}toastmessage/static//js/jquery.toastmessage.js"></script>
                    <script type="text/javascript">
                        $().toastmessage('showErrorToast', "{{ message }}");
                    </script>

                {% endif %}
    {% endif %}


    </div>

{% endblock %}


</body>
</html>
