<!DOCTYPE html>
{% extends "base/base.html" %}
<html>
{% block title %}Rejestracja{% endblock %}
<body>

{% block content %}


    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>

<div id="panel">
<form>
<label for="username">Nazwa użytkownika:</label>
<input type="text" id="username" name="username">
<label for="password">Hasło:</label>
<p><a href="#">Zapomniałeś hasła?</a></p>
<input type="password" id="password" name="password">
<div id="lower">
<input type="checkbox"><label class="check" for="checkbox">Zapamiętaj mnie!</label>
<input type="submit" value="Login">
</div>
</form>
    <h1>Zarejestruj się</h1>
    {% if 'wrong_password' in errors %}
        <h2 class="error">Hasła nie pasują do siebie</h2>
    {% endif %}
    {% if 'empty_field' in errors %}
        <h2 class="error">Wypełnij wszystkie pola</h2>
    {% endif %}
    <form action="{% url 'users.views.register_method' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Login:</td>
                <td><input id="username"
                           type="text" name="username" maxlength="30" size="17"/></td>
            </tr>
            <tr>
                <td>Hasło:</td>
                <td><input type="password"
                           name="password" id="password" size="17"/>
            </tr>
            <tr>
                <td>Powtórz hasło:</td>
                <td><input type="password"
                           name="confirm_password" id="confirm_password" size="17"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email"
                           name="email" id="email" size="30"/></td>
            </tr>
            <tr>
                <td>Urodziny:</td>
                <td><input type="text" name="birthdate" id="datepicker">
            </tr>
        </table>
        <p>
            <input type="submit" value="Create the account">
        </p>
    </form>
{% endblock %}


</body>
</html>
